###############################################################
#             https://github.com/Sduibek/myignore             #
###############################################################

#===========================
# Temporary files & folders
#===========================

*.[Tt][Mm][Pp]
*.temp
[Tt]emporary [Ii]nternet [Ff]iles/
[Tt][Ee][Mm][Pp]/
[Tt][Mm][Pp]/
[Tt]emporary/

#========================
# Backup files & folders
#========================

*.[Bb][Aa][Kk]
*.[Bb][Aa][Kk].*
*.backup
[Bb][Aa][Kk]/
[Bb][Aa][Cc][Kk][Uu][Pp]*/

#=====================
# Log files & folders
#=====================

*.[Ll][Oo][Gg]
[Ll][Oo][Gg]/
[Ll][Oo][Gg][Ss]/

#=========
# Dropbox
#=========

# "tag" name, "ns" number. Seems like kind of a desktop.ini equivalent for Dropbox
.dropbox

# Attributes presumably; mine just have "{}"
.dropbox.attr

# When files on Dropbox.com are newer than on your PC and are pushed to your PC, the old versions from your PC end up here.
.dropbox.cache
.dropbox.cache/

#===========
# MS Office
#===========

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

#=========
# Windows
#=========

# Windows picture file thumbnail caches
[Tt]humbs.db
ehthumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$R[Ee][Cc][Yy][Cc][Ll][Ee].B[Ii][Nn]/
R[Ee][Cc][Yy][Cc][Ll][Ee][Rr]/

# System Restore data & restore points, Windows Backup, Volume Shadow Copy, Content Indexer, CHKDSK logs
System Volume Information/

# System Recovery boot image
[Rr][Ee][Cc][Oo][Vv][Ee][Rr][Yy]/

# Virtual Memory file
[Pp]agefile.sys

# Hibernation data
[Hh]iberfil.sys

# System boot files
boot/

# Caches MSI install files
[Cc][Oo][Nn][Ff][Ii][Gg].[Mm][Ss][Ii]
MSOCache/

# System performance logs
[Pp]erf[Ll]ogs/

# FileMaps etc.
# If you want to just explicitly do FileMaps, change the next line to $$*.*
$*.*

#========
# Mac OS
#========

# Folder attributes
.DS_Store

# Resource Forks
__MACOSX/
.AppleDouble

# What is this?
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume OR on external disk
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#=======
# Linux
#=======

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


#======================
# Ruby & Ruby On Rails
#======================

*.gem
*.rbc
capybara-*.html
.rspec
/.config
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/tmp
/test/tmp/
/test/version_tmp/
**.orig
rerun.txt
pickle-email-*.html

# Specific to RubyMotion:
.repl_history

# Documentation cache and generated files:
/.yardoc/
/_yardoc/
/doc/
/rdoc/

# Environment normalization:
/.bundle
/.bundle/
/vendor/bundle
/lib/bundler/man/

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json
# Ignore pow environment settings
.powenv

#=========
# Android
#=========

# Files for the Dalvik VM
*.dex

# Java class files
*.class

# Gradle files
.gradle/

# Local configuration file (sdk path, etc)
local.properties

# Proguard folder generated by Eclipse
proguard/

#=====
# C++
#=====

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#=============
# Objective C
#=============

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

#===============
# Visual Studio
#===============

*.application
*vshost*.*
*[Ff]ile[Ll]ist[Aa]bsolute.txt

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebug[Pp]ublic/

# Roslyn cache directories
*.ide/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

#NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp_proj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode is a .NET coding addin-in
.JustCode

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
_NCrunch_*
.*crunch*.local.xml

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
[Pp]ublish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# TODO: Comment the next line if you want to checkin your web deploy settings but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# If using the old MSBuild-Integrated Package Restore, uncomment this:
#!**/packages/repositories.config

# Windows Azure Build Output
csx/
*.build.csdef

# Windows Store app package directory
AppPackages/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file to a newer Visual Studio version. Backup files are not needed, because we have git ;-)
_UpgradeReport_Files/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
*.mdf
*.ldf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Fakes
FakesAssemblies/

#=================================================
# CUSTOM: FALLOUT (Modding for the Fallout games)
#=================================================

# Compiled scripts - Don't try to commit the ones with a tilde (MS-DOS style 8.3-compliance renaming) because GitHub won't allow it.
*~1.[Ii][Nn][Tt]
*~2.[Ii][Nn][Tt]
*~3.[Ii][Nn][Tt]
*~4.[Ii][Nn][Tt]
*~5.[Ii][Nn][Tt]

# Dialog/Messages - Don't try to commit the ones with a tilde (MS-DOS style 8.3-compliance renaming) because GitHub won't allow it.
*~1.[Mm][Ss][Gg]
*~2.[Mm][Ss][Gg]
*~3.[Mm][Ss][Gg]
*~4.[Mm][Ss][Gg]
*~5.[Mm][Ss][Gg]

# Scripts source - Don't try to commit the ones with a tilde (MS-DOS style 8.3-compliance renaming) because GitHub won't allow it.
*~1.[Ss][Ss][Ll]
*~2.[Ss][Ss][Ll]
*~3.[Ss][Ss][Ll]
*~4.[Ss][Ss][Ll]
*~5.[Ss][Ss][Ll]

# Talking heads dialog - Don't try to commit the ones with a tilde (MS-DOS style 8.3-compliance renaming) because GitHub won't allow it.
*~1.[Tt][Xx][Tt]
*~2.[Tt][Xx][Tt]
*~3.[Tt][Xx][Tt]
*~4.[Tt][Xx][Tt]
*~5.[Tt][Xx][Tt]

